[Unit]
Description=Configuration management engine written in Go
Wants=network.target
After=network.target

[Service]
ExecStart=/usr/bin/mango --inventory.path /opt/mango/inventory --inventory.reload-interval '5m'
ExecReload=/bin/kill -SIGHUP $MAINPID
Restart=on-failure
KillSignal=SIGINT
LimitNOFILE=8192

[Install]
WantedBy=multi-user.target
