[Unit]
Description=Prometheus for logs
Wants=network.target
After=network.target

[Service]
ExecStart=/usr/bin/promtail -config.file=/etc/promtail/config.yaml
Restart=on-failure
KillSignal=SIGINT
LimitNOFILE=8192

[Install]
WantedBy=multi-user.target
