mango:
  tree: "/opt/mango/tree"

template:
  engine: go # default use go's built in text templating
  directory: "/etc/mango/template/files" #default directory to pull source template files from

managers: {}

logging:
  level: info

prometheus:
  port: 9555
