inventory:
  path: "/opt/mango/inventory"

template:
  engine: go # default use go's built in text templating
  directory: "/etc/mango/template/files" #default directory to pull source template files from

managers: {}

logging:
  level: info

metrics:
  port: 9555
